body{
    background-color: lightblue;
    font-family: Verdana;
    margin: 0;
}

div{
    text-align: center;
}
h1{
    font-size: 30px;
}

h2{
    font-size: 20px;
    color: sienna;
}

h3{
    font-size: 16px;
    color: sienna;
    padding: 10px;
    background-color: lightgoldenrodyellow;
}

p{
    font-size: 14px;
}

span{
    font-weight: bold;
}