div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 22px;
    text-align: center;
}

h2{
    font-size: 18px;
    color: brown;
    font-weight: normal;
    text-align: center;
}

h3{
    font-size: 16px;
    text-decoration: underline;
    color: brown;
}

p{
    font-size: 14px;
    line-height: 28px;
}